VITE_SUPABASE_URL=https://qsxeuyrwwfakuesrvkav.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzeGV1eXJ3d2Zha3Vlc3J2a2F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxMjk2MzQsImV4cCI6MjA5ODcwNTYzNH0.7XcD-zRV-Qnm6nMmWQuctCa_-GqC2jySjgPSqvVvyI4