PORT=5000
SUPABASE_URL=https://qsxeuyrwwfakuesrvkav.supabase.co/rest/v1/
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzeGV1eXJ3d2Zha3Vlc3J2a2F2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzEyOTYzNCwiZXhwIjoyMDk4NzA1NjM0fQ.R5OBaR1P4cKF1K1CYeW0GUH8eIPN3lC9mMdelHTLBUE
CLIENT_URL=http://localhost:5173



eef5617b-4c37-4586-8280-95d71686ea0f